.card__container {
    margin-top:95px;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
}

.card {
    background: white;
    font-family: Adelle;
    border-radius: 3px;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 260px;
    max-width: 700px;
    padding: 15px;
}

.card__progress {
    position: relative;
    max-width: 100%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
}

.card__title {
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.card__divider {
  opacity: 0.17;
  border-color: #979797;
  border-top: 0 solid transparent;
  border-width: 1px;
  margin-left: -15px;
  margin-right: -15px;
  border-style: solid;

}

.card__instructions {
  font-family: Adelle-sans;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  color: black;
  margin-top: 15px;
}

.card__content {
  margin-top: 15px;
}

a {
    display: block;
}

li {
  list-style: none;
  margin:0;
}

.pickquestions__input {
  display: block;
  margin:0;
  width:calc(100% - 21px);
  background: #FBFBFC;
  border: 2px solid #ECEEF0;
  border-radius: 3px;
  padding-left:15px;
  line-height: 30px;
  font-size: 12px;
  margin-bottom:15px;
}

.pickquestions__input:focus {
  border: 2px solid black;
  outline:0;
}

.pickquestions__addmore {
  font-size: 10px;
  text-decoration: underline;
}

.pickquestions__remove {
  position:absolute;
  font-family: 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif;
  right:45px;
  font-size: 10px;
  margin-top: -40px;
  width: 15px;
  height:15px;
  text-align: center;
}

.searchbar {
  display: block;
  margin:0;
  width:calc(100% - 21px);
  background: #FBFBFC;
  border: 2px solid #ECEEF0;
  border-radius: 15px;
  padding-left:15px;
  line-height: 30px;
  font-size: 12px;
}

.searchbar:hover {
  border: 2px solid black;
  outline:0;
}

.searchbar__suggestions {
  position:absolute;
  background: #FBFBFC;
  border: 1px solid #ECEEF0;
}

.user {
  margin-top: 8px;
  border-top: 1px solid #ECEEF0;
}

.user:hover {
  background:#FBFBFC;
}

.user__selectall {
  font-weight: bold;
  margin-top: 15px;
  margin-left: 30px;
  font-family: Adelle-sans;
  font-size: 12px;
  color:black;
}

.user__selectallcheckbox {
  margin-top: 15px;
  float:left;
}

.user__name {
  display:block;
  font-family: Adelle-sans;
  font-weight:bold;
  color:black;
  margin-left: 75px;
  margin-top:12px;
}

.user__name > span {
  font-weight: normal;
  color:#c8c8c8;
}

.user__img {
  margin-top:8px;
  margin-left:15px;
  border-radius:5px;
  width:30px;
  height:30px;
  float:left;
}

.user__select {
  float:left;
  margin-top:15px;
}

.review__title {
  margin-top:15px;
  font-family: Adelle-sans;
  font-size:12px;
  color:black;
  font-weight:bold;
}

.review__content {
  font-family: Adelle-sans;
  font-size:10px;
  color:black;
  margin-top:8px;
}

.review__summary {
  font-size:12px;
  margin-top:30px;
}

.schedule__summary {
  display:block;
  clear:both;
  text-align: left;
  font-family: Adelle-sans;
  color:black;
  font-size:10px;
  margin-top:30px;
  margin-bottom:-15px;
}

.schedule__summary > strong {
  font-weight: bold;
  font-size:12px;
}

.schedule__titles {
  float:left;
  width:70px;
}

.schedule__content {
  margin-left:85px;
}

.schedule__title {
  margin-bottom:20px;
  text-align: right;
  font-family: Adelle-sans;
  color:black;
  font-size:12px;
}

.schedule__time {
  font-family: Adelle-sans;
  font-size:10px;
  color:#96A0AE;
  display: block;
  background: #FBFBFC;
  border: 2px solid #ECEEF0;
  border-radius: 3px;
  text-align: center;
  margin-bottom:15px;
  padding-left:10px;
}

.schedule__time:focus {
  outline:0;
  border:2px solid black;
}

.schedule__repeats {
  font-family: Adelle-sans;
  display: block;
  background: #96A0AD;
  color:white;
  padding-right:15px; 
  padding-left:3px;
  padding-top:3px;
  font-size:10px;
  padding-bottom:3px;
  border-radius: 3px;
  margin-bottom:13px;
}

.schedule__repeats:focus {
  outline:0;
}

.schedule__repeatevery {
  font-family: Adelle-sans;
  display: inline;
  background: #96A0AD;
  color:white;
  padding-right:8px; 
  padding-left:3px;
  padding-top:3px;
  font-size:10px;
  padding-bottom:3px;
  border-radius: 3px;
  margin-bottom:10px;
}

.schedule__repeatevery {
  outline:0;
}


.schedule__repeatevery--date {
  display: inline;
  font-family: Adelle-sans;
  font-size:12px;
  color:black;
  margin-left:8px;
}

.schedule__weekdays {
  display:none;
  clear:both
}

.schedule__weekdays--buttons {
  margin-bottom:15px;
  min-width:120px;
  width:175px;
  display: flex;
  
}

.weekdays--extended {
  clear:both;
  width: 260px;
  justify-content: flex-end;
}

.weekday {
  flex:1;
  font-size:10px;
  font-family: Adelle-sans;
  text-align: center;
  background:#EAECEF;
  border: 0;
  border-radius: 3px;
  color:#96A0AE;
  padding-top:8px;
  padding-bottom:8px;
  margin-left:8px;
}

.weekday--first {
  margin-left:0px;
}

.weekday--margin {
  margin-left: 24px;
}

.button {
  display: block;
  border-radius: 3px;
  font-size: 14px;
  margin-top:30px;
  font-family: Adelle-Sans;
  font-weight: normal;
  line-height:20px;
  padding-bottom:15px;
  padding-top:15px;
  text-align:center;
  letter-spacing: 1px;
}

.button-next {
  background: #3BAEDA;
  color:white;
}

.button-back {
  background: #D8D8D8;
  color: #656D78;
}

.button-large {
  display: block;
}

.button-shared {
  width:calc(70% - 8px);
  float:right;
  max-width:240px;
}

.button-shared-back {
  width:30%;
  max-width:140px;
}

@media screen and (min-width:600px) {
  
  .card {
    padding:30px;
  }

  .card__title {
    font-size: 28px;
  }

  .card__instructions {
    font-size: 24px;
    margin-bottom:30px;
  }

  .pickquestions__input {
    font-size:14px;
    margin-bottom:30px;
    padding:5px;
    padding-left:12px;
  }
}