.card__container {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
}

.card {
    background: white;
    font-family: Adelle;
    border-radius: 3px;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 260px;
    max-width: 700px;
    padding: 15px;
}

.card__progress {
    position: relative;
    max-width: 100%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
}

.card__title {
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.card__divider {
  opacity: 0.17;
  border-color: #979797;
  border-top: 0 solid transparent;
  border-width: 1px;
  margin-left: -15px;
  margin-right: -15px;
  border-style: solid;

}

.card__instructions {
  font-family: Adelle-sans;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  color: black;
  margin-top: 15px;
}

.card__content {
  margin-top: 15px;
}

a {
    display: block;
}

li {
  list-style: none;
}
